<a href="https://colab.research.google.com/github/AnkitaAnalytics/Python_Basics/blob/main/Factorial_and_fibonacci_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Find the factorial of a number n**

In [ ]:
n = int(input("Enter the number"))

def factorial(n):
   product =1

   for i in range(1,n+1):
       product = product * i
   return product
print (factorial(n))

Enter the number5
120

**Fibonacci Series**

In [ ]:


#find the next 10 numbers of fiboonaci series
n1 = int(input( "Enter the first number "))
n2 = int(input("Enter the second number "))
l =[]
l.append(n1)
l.append(n2)
a=0
for i in range(0,10):
   a = l[i]  + l[i+1]
   l.append(a)

print (l)

Enter the first number 1
Enter the second number 2
[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]

In [ ]:
l= input("Enter first 2 numbers separated by commas ")
n = [int(i) for i in l.split(",")]
print (n)
type (n)

Enter first 2 numbers separated by commas 2,3
[2, 3]

list

In [ ]:
l= input("Enter first 2 numbers separated by commas ")
n = [int(num) for num in l.split(",")]

a = 0

for i in range (0,10):
   a = n[i] + n[i+1]
   n.append(a)

print(n)

Enter first 2 numbers separated by commas 2,3
[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [ ]:
#check if no is prime

n = int(input("Enter the number "))

for i in range(2,n+1):
      if n%i == 0:
            print ("Not prime")
      else:
            print ("prime")

prime
prime
prime
prime
prime
Not prime