<a href="https://colab.research.google.com/github/AnkitaAnalytics/Python_Basics/blob/main/List_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Find the most repeated number in a list

In [ ]:
#method 1
l = [1,1,2,2,2,33,33,4,4,4,4,4,4]

frequency = {}
for num in l:
  if num in frequency:
    frequency[num] +=1
  else:
    frequency[num] = 1
print(frequency)

print(max(frequency,key=frequency.get))

{1: 2, 2: 3, 33: 2, 4: 6}
4

In [ ]:
#method 2

l= [1,1,2,2,2,33,33,4,4,4,4,4,4]
frequency ={}
highest_frequency = 0
most_repeated_number = 0

for num in l:
  if num in frequency:
    frequency[num] +=1
  else:
    frequency[num] = 1

for num,count in frequency.items():
  if count > highest_frequency:
    highest_frequency = count
    most_repeated_number = num

print(f"The most repeated number is {most_repeated_number} and it is repeated {highest_frequency} times.")

The most repeated number is 4 and it is repeated 6 times.

# Second Largest Number in a list

Given a list find the second largest number

In [ ]:
l = [1,22,23,3,4,50,50,50,6,7,7,8]

#first method

s=set(l) #changing the list to set to remove duplicates
s.remove(max(s)) #removing the largest number
second_largest = max(s)
print(f"Second Largest number is {second_largest}.")

Second Largest number is 23.

In [ ]:
# second method - using for loop

largest= float('-inf')
second_largest = float('-inf') #initializing largest and second largest number as -infinity

for num in l:
  if num > largest:
     second_largest = largest
     largest = num
  elif largest > num > second_largest:
    second_largest= num

print(f"The second largest number is {second_largest}.")

The second largest number is 23.

# Reverse a list

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]

#1st method using indexing

reverse_list = my_list[::-1]
print(f"The actual list is {my_list}")
print(f"The reversed list is {reverse_list}")

The actual list is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The reversed list is [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#2nd method- using for loop

reverse_list = [] #initializing an empty list
n=0
for i in range(len(my_list)):
    n=my_list.pop()
    reverse_list.append(n)


print(f"The reversed list is {reverse_list}")

The reversed list is [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#3rd method- adding each item individually to reverse_list
reverse_list = [] #initializing an empty list

for char in my_list:
    reverse_list.insert(0,char)


print(f"The reversed list is {reverse_list}")

The reversed list is [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Check if a list is a palindrome

In [ ]:
org_list = input("Enter the list sperated by commas")

def check_palindrome(org_list):
  if (org_list == org_list[::-1]):
    print("It is a palindrome")
  else:
    print("It is not a palindrome")

check_palindrome(org_list)

Enter the list sperated by commas1,2,3,2,1
It is a palindrome

# Find all pairs of numbers in a list that sum up to a given target. - Two sums

In [34]:
n = int(input("Enter the target number "))
l= (input("Enter the list seperated by commas "))
my_list = [int(x) for x in l.split(",")]

def two_sums(my_list, n):
  pairs = [] #list to store the pairs
  for i in range(len(my_list)):
    for j in range(i+1,len(my_list)):
      if (my_list[i] + my_list[j] == n):
        pairs.append((my_list[i], my_list[j]))
  print(f"The list of pairs that add upto {n} is {pairs}")


two_sums(my_list,n)

Enter the target number 18
Enter the list seperated by commas 9,2,9,7,18,0,10,4,16,8,17,1
The list of pairs that add upto 18 is [(9, 9), (2, 16), (18, 0), (10, 8), (17, 1)]

# Find the intersection and union of two lists

In [36]:
#method using set
list1 = [1,2,3,4,5,6,7]
list2 = [1,3,5,7,9,11]

def union_intersection(list1,list2):
  union_list = list(set(list1) | set(list2))
  intersection_list = list(set(list1) & set(list2))
  print(f"The union of lists is {union_list}")
  print(f"The intersection of list is {intersection_list} ")

union_intersection(list1,list2)

The union of lists is [1, 2, 3, 4, 5, 6, 7, 9, 11]
The intersection of list is [1, 3, 5, 7]

In [38]:
# method using numpy
import numpy as np
array1 = np.array(list1)
array2 = np.array(list2)

intersection= np.intersect1d(array1,array2)
union = np.union1d(array1,array2)

print(f"The union of lists is {union}")
print(f"The intersection of list is {intersection} ")

The union of lists is [ 1  2  3  4  5  6  7  9 11]
The intersection of list is [1 3 5 7]